@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
main{
  margin-top: -24px;
  background-color: #0860b1;
  color: #fff;
  height: 100vh;
  text-align: center;

}
h1{padding-top: 200px;}
.button{
  margin: 0 auto;
  color: #fff;

}
.button button{
  display: block;
  margin: 0 auto;
  background-color: #0860b1;
  border: 1px solid #fff;
  padding: 5px;
  width: 200px;
  color: #fff;
  font-size: 20px;
  transition: .5s;
}
.button button:hover{
  cursor: pointer;
  background-color: #fff;
  color: #0860b1;
}
.button a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  border: 1px solid #fff;
  padding: 5px;
  width: 200px;
  font-size: 20px;
  transition: .5s;
}
.button a:hover{
  background-color: #fff;
  color: #0860b1;

}
